*{margin: 0; padding: 0;}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


@mixin flex($jus,$ali,$fdir) {
  display: flex;
  justify-content: $jus;
  align-items: $ali;
  flex-direction: $fdir;
}

// 색상변수
$color-1: #45484B;
$color-2: #A4A6A5;
$color-3: #D8D9D7;
$color-4: #F2F2F0;
$color-5: #63708B;
$color-6: #fff;

$font-roboto : 'Roboto', sans-serif;

#root{
  @include flex(start, center, column);
  width: 100vw; height: 100vh;
  background-image: url(../img/bg-1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  // background-color: #ccc;

  // 상단 고정영역 (로고와 뒤로가기)
  & > nav:first-child{
    @include flex(space-around, start, row);
    width: 100vw; height: 12vh;
    position: fixed;
    background-image: url(../img/wave-head.svg);
    background-repeat: no-repeat;
    background-size: cover;

    & > div:first-child{
      width: 4vh; height: 4vh;
      border-radius: 3vh;
      // background-color: $color-5;
      margin-top: 2vh;
    }

    & > p{
      margin-top: 3vh;
      font-family: $font-roboto;
      font-weight: bold;
      letter-spacing: 1vw;
      color: $color-4;
    }

    & > div:last-child {
      width: 4vh; height: 4vh;
      border-radius: 3vh;
      margin-top: 2vh;
    }

  }


  // 텍스트 '즐거운 하루를'~ 어쩌구
  & > p:nth-child(2) {
    margin-top: 18vh;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    line-height: 34px;
    font-family: $font-roboto;
  }


  // 실내-실외 활동 체크 영역
  & > div:nth-child(3){
    width: 85vw; height: 60vh;
    margin-top: 3vh;

    & > div{
      width: 100%; height: 28vh;
      margin-top: 1vh;
      border-radius: 2vh;
      border: 1px solid $color-3;
      background-color: $color-6;

      & > p:first-child{
        font-size: 16px;
        color: $color-1;
        font-family: $font-roboto;
        font-weight: bold;
        margin: 2vh 4vw 1vh 4vw;
      }

      //토글버튼 들어갈 리스트
      & > div{
        @include flex(space-between, center, row);
        width: 90%; height: 10%;
        margin: 0 4vw 0.8vh 4vw;
        // background-color: lightgray;
        font-size: 13px;
        color: $color-2;

        // 토글버튼
        & > div:last-child{
          @include flex(start, center, row);
          width: 14vw; height: 100%;
          border-radius: 5vw;
          background: $color-4;
          position: relative;

          & > div{
            width: 2vh; height: 2vh;
            border-radius: 1vh;
            background-color: $color-5;
            position: absolute;
          }

        }
      }
    }
  }

  & > button:last-child{
    width: 17vw; height: 5vh;
    border: 1px solid $color-6;
    background-color: $color-3;
    border-radius: 2vh;
    font-size: 14px;
    position: fixed;
    bottom: 10vh;
    color: $color-5;
    font-weight: bold;
  }
}