.btn-skip {
  width: 15vw; height: 4vh;
  border: 1px solid var(--color-5);
  border-radius: 1.5vh;
  background-color: #fff;
  color: var(--color-3);
  font-size: 0.8rem;
}

.btn-start {
  width: 15vw; height: 4vh;
  border: none;
  border-radius: 1.5vh;
  background-color: var(--color-2);
  color: #fff;
  font-size: 0.8rem;
}

.p-top {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  letter-spacing: 0.5rem;
}

.p-small { font-size: 0.8rem; }

.p-mid { font-size: 1.2rem; }

.p-large { font-size: 1.5rem; }

.p-big { font-size: 2.3rem; }

.p-bold { font-weight: bold; }

.sans {font-family: 'Noto Sans KR', sans-serif;}

.serif {font-family: 'Abril Fatface', cursive;}

.cursor-p {cursor: pointer;}