.btn-skip {
  width: 15vw; height: 4vh;
  border: 1px solid var(--color-5);
  border-radius: 1.5vh;
  background-color: #fff;
  color: var(--color-3);
  font-size: 0.8rem;
}

.btn-start {
  width: 15vw; height: 4vh;
  border: none;
  border-radius: 1.5vh;
  background-color: var(--color-2);
  color: #fff;
  font-size: 0.8rem;
}

.p-small { font-size: 0.8rem; font-weight: 300;}

.p-mid { font-size: 1.2rem; }

.p-large { font-size: 1.5rem; }

.p-big { font-size: 2.3rem; }

.p-bold { font-weight: 700; }

.sans {font-family: 'Noto Sans KR', sans-serif;}

.cursor-p {cursor: pointer;}

.calendar-on {
  border-radius: 3vh;
  background-color: var(--color-5);
  color: var(--color-2);
}

.calendar-today {
  border-radius: 3vh;
  border: 1px solid var(--color-5);
  color: var(--color-3);
  font-weight: 700;
}

.calendar-arrow {
  width: 100%; height: 100%;
  color: var(--color-5);
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.8rem;
}