/* ==== 상단 고정영역 ==== */

/* 상단 전체 박스 */
.top {
  width: 90vw; height: 9vh;
  padding: 0 5vw 4vh 5vw;

  background-image: url(../img/wave-head.svg);
  background-repeat: repeat-x;
      
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top:0;
}

/* 상단 버튼 영역 */
.top-btn {
  width: 5vh; height: 5vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.top-i {
  color:var(--color-4);
  font-size: 1.5rem;
}

.top-p {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  letter-spacing: 0.5rem;
  color: var(--color-5);
}